mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 1rem;
}

a, button {
  color: white;
  text-decoration: none;
}

a:hover, button:hover {
  text-decoration: underline;
}