<mat-card>
    <h1>Login</h1>
    @if (isLoading) {
    <mat-spinner></mat-spinner>
    }
    @else {
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>E-Mail</mat-label>
            <input matInput name="email" type="email" placeholder="E-Mail" required email formControlName="email">
            @if (email?.invalid && email?.touched) {
            <mat-error>Please enter a valid email.</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" name="password" matInput placeholder="Password" formControlName="password" required>
            @if (
            password?.invalid && password?.touched) {
            <mat-error>Please enter a valid password.</mat-error>
            }
        </mat-form-field>
        @if (!isLoading) {
        <button mat-raised-button color="accent" type="submit">Login</button>
        }
    </form>
    }
</mat-card>